@import-normalize; /* bring in normalize.css styles */

:root {
  --color-text-main: #121417;
  --color-text-second: rgba(18, 20, 23, 0.5);
  --color-text-conditions: #363535;
  --color-text-button-and-bg: #fff;
  --color-text-loadmore: #3470ff;
  --color-text-loadmore-hover: #0b44cd;
  --color-text-label: #8a8a89;
  --color-button: #3470ff;
  --color-button-hover: #0b44cd;
  --color-filter-field: #f7f7fb;
  --color-bg-conditions: #f9f9f9;
  --color-modal-wrap: rgba(18, 20, 23, 0.5);
  --color-footer-header-wrap: #134264;
  --color-text-footer-header: #a2acd2;
}
body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  line-height: 1.5;
  color: var(--color-text-main);
  margin: 0;
  background-color: #c6cbde;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;

  height: auto;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
